:root{
    --Principal: #307487;
    --Fondo:#EBF0F3;
    --Borde:#B2B2B2;
}

body{
    position: relative;
}

#Menu {
    width:100%;
    height:10vh;
    display:flex;
    align-items:center;
    justify-content: center;
}

#Menu>button{
    min-width: 100px;
    height: 25px;
    border-radius: 5px;
    border: 0;
}

#Menu>button:nth-child(1){

    margin-right:10px;
    
}

#Menu>button:nth-child(2){
    margin-right:calc(99vw - 100px - 200px - 53px - 40px) ;
}

#Menu>button:nth-child(5){
    min-width: 15px;
    height: 20px;
    border: 0;
    transform: rotate(90deg);
}

#Menu>button:nth-child(6){

    position: absolute;
    right: 2%;
    top: 50px;
    
}

#Menu>button:nth-child(6):hover{
    background-color: var(--Principal);
    color: white;
}

#Menu>div{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    min-height: 40px;
    border-radius: 20px;
    background-color: var(--Principal);
}

#Menu>div>p{
    color: white;
}

#Menu>p{
    margin-left: 5px;
    min-width: 53px;
}

#Cuerpo{
    background-color: var(--Fondo);
    width: 100%;
    height: 90vh;
}

.Fondo{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.5) ;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
}

.Box{
    background-color: white;
    width: 50%;
    height: 50%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.Box>div{
    margin-bottom: 2%;
    margin-top: 5%;
}

.Box>div:nth-child(1){
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Box>div:nth-child(1)>p{
    width: 90px;
    margin-right: calc(70% - 90px);
}

.Box>div:nth-child(2){
    width: 100%;
    height: 50%;

    display: flex;
    flex-direction: row;
}

.Box>div:nth-child(2)>div{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Box>div:nth-child(2)>div>input,select{
    width: 80%;
    margin-bottom: 10%; 
}

#Muestra{
    width: 50px;
    height: 50px;
    background-color: var(--Borde);
    border-radius: 5px;
}

.Box>div:nth-child(3){
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 10%;
}